body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;

}

.slope-calc-background-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.slope-calc {
    width: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 0.4);
    border-radius: 1rem;
    gap: 3rem;
    padding: 3rem;
}

.slope-calc__heading {
    font-size: 3.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.slope-calc__inplab-wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.slope-calc__label {
    font-size: 1.6rem;
    font-weight: 460;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slope-calc__input {
    font-size: 1.6rem;
    font-weight: 500;
}

.slope-calc__input--root {
    width: 5rem;
}

.slope-calc__output {
    width: 100%;
    height: 8rem;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slope-calc__calculate {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-top: 2rem;
}

.slope-calc__result {
    font-size: 1.8rem;
    font-weight: bold;
    white-space: nowrap;
}

.slope-calc__rem-result {
    display: none;
    font-size: 1.8rem;
    font-weight: bold;
    white-space: nowrap;
}

.slope-calc__input::placeholder {
    opacity: 0.8;
    font-size: smaller;
}

.slope-calc__rempx-wrap {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 40%;
}

.slope-calc__button-rempx {
    flex-basis: 50%;
}

.slope-calc__copy {
    font-size: 1.2rem;
}

@media screen and (max-width: 460px) {
    .slope-calc {
        padding-inline: 1rem;
    }

    .slope-calc__result {
        font-size: clamp(12px, calc(-1.3846px + 4.6154vw), 18px);
    }
}
